@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:700,900);

/* Reset */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

}

/* Header */
header {
    padding: 25px 0 0 70px;
    margin-bottom: 100px;
}

header ul li {
    display: inline;
    margin-right: 23px;
}

.link-header {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: #989D9C;
}

.link-header:hover {
    text-decoration:underline;
}

.link-header:active {
    opacity: 0.6;
}

.button-header {
    background: #665AE1;
    color: #FFFFFF;
    border-radius: 20.5px;
    font-weight: 600;
    font-size: 24px;
    border: none;
    padding: 6px 21px;
    cursor: pointer;
}

.button-header:hover {
    color: #ADFF00;
    background-color: #515151;
    transition: 0.4s;
}

.button-header:active {
    opacity: 0.5;
    transition: 0.2s;
}

/* Main */
main {
    text-align: center;
}

.img-section {
    display: inline-block;
    margin: 55px;
    max-width: 600px;
}

.img-logo {
    width: 100%;
}

.content {
    display: inline-block;
    margin: 55px;
    max-width: 600px;
}

h1 {
    font-weight: 900;
    font-size: 90px;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: sombra 2s infinite;
}

h1::first-letter{
    color: #ADFF00;
}

@keyframes sombra {
    0% {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    50% {
      text-shadow: 8px 6px 8px rgba(0, 0, 0, 0.5);
    }
    100% {
      text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

h2 {
    font-weight: 500;
    font-size: 70;
    color: #d6d6d6;
    margin-bottom: 20px;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #b3b3b3;
    text-align: justify;
}

.button-content {
    margin-top: 80px;
    font-size: 28px;
    padding: 15px 46px;
    font-weight: 700;
    background: #ADFF00;
    border-radius: 35px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.button-content:hover {
    color: #ADFF00;
    background-color: #515151;
    transition: 0.5s;
}

.button-content:active {
    opacity: 0.3;
    transition: 0.1s;
}

@media screen and (max-width: 1392px){
    header {
        text-align: center;
    }
}

@media screen and (max-width: 894px){
    
    header {
        padding: 25px 0 0 10px;
        text-align: center;
        margin-bottom: 100px;
    }

	header ul li {
        display: inline;
        margin-right: 12px;
    }
    
    .link-header {
        line-height: 50px;
        font-size: 22px;
    }
    
    .button-header {
        font-size: 22px;
        padding: 6px 21px;
    }
}

@media screen and (max-width: 800px){

    header {
        display: none;
    }

    /* Main */
    .img-section {
        margin-top: 30px;
        margin-bottom: 90px;
    }
    
    .img-logo {
        width: 100%;
    }
    
    .content {
        margin: 0px 10px;
    }
    
    h1 {
        font-size: 12vw;
    }
    
    h2 {
        font-size: 8vw;
    }
    
    p {
        font-size: 1em;
        line-height: 18px;
    }
    
    .button-content {
        margin: 20px 0 50px 0;
        font-size: 12px;
        padding: 15px 35px;
    }
}
